.toolbar {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 10px;
}

.audio-modal {
  display: flex;
  width: auto;
  align-items: center;
  margin-right: 70px;
  padding: 10px 18px;
  border-radius: 4px;
  font-size: 18px;

  .ant-notification-notice-message {
    margin: 0;
    padding-right: 30px;
  }

  .ant-notification-notice-close {
    top: auto;
  }
}

.audio-modal,
.toolbar {
  & .anticon {
    cursor: pointer;
    color: @gray-common-level1;
    font-size: 20px;

    &:active,
    &:hover {
      color: @primary-color;
    }
  }
}