.chat-box {
    flex: 1;
    max-height: 392px;
    overflow: auto;
    padding: 0 15px;
    border-top: 1px solid @common-divider-color;

    // &::-webkit-scrollbar {
    //     width: 8px;
    //     height: 4px;
    // }

    // &::-webkit-scrollbar-thumb {
    //     border-radius: 5px;
    //     box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    //     background: rgba(0, 0, 0, 0.2);
    //     scrollbar-arrow-color: red;
    // }

    // &::-webkit-scrollbar-track {
    //     box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    //     border-radius: 0;
    //     background: rgba(0, 0, 0, 0.1);
    // }
}