.main-sider {
    height: 572px;
    overflow: auto;
    padding: 0 10px;
    border-right: 1px solid @common-divider-color;
}

.main-content {
    display: flex;
    flex-direction: column;
    // padding: 0 15px;
    background-color: white;
}