.header-container {
    background: none;
    height: 50px;
    line-height: 50px;
    user-select: none;
    padding: 0;

    .header-lt {
        display: flex;
        flex-direction: row;
        flex: 0 0 250px;
        max-width: 250px;
        min-width: 250px;
        padding: 0 18px;
        background-color: @primary-color;
    }
}