.file-message {
  width: 100%;
  max-width: 100%;
  display: flex;
  border: 1px solid @gray-common-level4;
  overflow-wrap: break-word;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;

  & .anticon {
    color: @primary-color;
    font-size: 40px;
  }

  .file-info {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 40px);
    margin-left: 4px;
  }
}